<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserAccess</servlet-name>
        <servlet-class>com.mycompany.cookiedz.session.UserAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>com.mycompany.cookiedz.session.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.mycompany.cookiedz.session.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccessC</servlet-name>
        <servlet-class>com.mycompany.cookiedz.onlycookie.UserAccessC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserC</servlet-name>
        <servlet-class>com.mycompany.cookiedz.onlycookie.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordC</servlet-name>
        <servlet-class>com.mycompany.cookiedz.onlycookie.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAccess</servlet-name>
        <url-pattern>/UserAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/CreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccessC</servlet-name>
        <url-pattern>/UserAccessC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserC</servlet-name>
        <url-pattern>/CreateUserC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordC</servlet-name>
        <url-pattern>/ChangePasswordC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
